.header{
	background-color:black;

}
hr{
	display:none;
}
  @media screen and (max-width: 765px) { 
    hr {
     display: block;

    }
    .subtitle{
    	line-height: 0.5em;
    }
 }

.subtitle-line{
	position: relative;
}
 @media screen and (max-width: 765px) { 
    .subtitle:before,.subtitle:after {
     display: none;
    }
 }

.subtitle:before,.subtitle:after{
	position:absolute;
	top:50%;
	background: #ddd;
	content:"";
	height: 2px;
	width: 32%;
}
.subtitle:before{
	left:0px;
}
.subtitle:after{
	right:0px;
}
.title-footer{
	 background-image: url("http://thub.sssccc.net/%E8%B4%B4%E5%9B%BE%E6%9D%90%E8%B4%A8/high/%E4%B8%93%E4%B8%9A%E5%BB%BA%E7%AD%91/21.%E9%87%91%E5%B1%9E%E7%BA%B9%E7%90%86.Metal/21.%E9%87%91%E5%B1%9E%E7%BA%B9%E7%90%86.Metal_0020.jpg");
  background-repeat: repeat-x;
  height: 80px;
}
.head-border{
	border-bottom:3px solid #BBBABA;
	padding:5px;
	 
}
.works,.contact{
	background-color: #222;
}

.bg-cover{
	
	background-position:center center;
	background-size:cover;
	height: 210px;
	
}

  @media screen and (max-width: 400px) { 
    .bg-cover {
     height: 200px;
       
    }
 }
.works-img{
  padding: 0;

}
.hovericon{
	line-height: 210px;
  opacity:0;
  transition:all .5s;
}
.bg-cover:hover .hovericon{
  background-color:#87C3C4;
  width:100%;
  height: 100%;
  opacity:0.7;
  
}

.works-word{
  padding: 0!important;
}
i>.fa-link{
	color:white;
}
.skillicon{
color:gold;
border: 4px solid;
border-radius: 50%;
padding:40px;
}

.btn-dark:hover{
	animation: shake;
	animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.yourElement {
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 2;
}













.nav{
background-color:rgba(31,34,50,.75);  
  width: 100%;
  height: 60px;
  padding:0 20px;
  text-align:center;
  color:white;
  display:flex;
  align-items:center;
  position:fixed;
  transition:all 1s;
  z-index:99;
}
.navgodark{
  background-color:rgba(25,26,38,.95);
}
.burger{
  height: 30px;
  width: 30px;
  position:relative;
  cursor:pointer;
  margin-right: 20px;

  
}
.sp1,.sp2,.sp3{
  height: 2px;
  width:24px;
  background-color:blue;
  z-index:1;  
  display:block;
  background-color: #fff;
  transition:all .15s;
}
.sp1{
   position:absolute;
   top:8px;
  left:3px;
 
   
}

.sp2{
  position:absolute;
  top:15px;
  left:3px;
  
  
}
.sp3{
  position:absolute;
  top:23px;
  left:3px;

}
.sp1-x{
   transform-origin: right top;
  transform:rotate(-45deg);
  left:0;
  top:6px;
}
.sp3-x{
   transform-origin: right top;
  transform:rotate(45deg);
  left:0px;  
}
.sp2-x{
  display:none;
}
.box{
  height: 100px;
  width: 100px;
  background-color:red;
}
.menu{
  width: 372;
  text-align:center;
  background-color:rgba(25,26,38,.95);
  display:none;
  position:fixed;
  top:60px;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
  
}
.menu ul {
  padding-top: 50px;
    width: 100%;
    height: 100%;
}
.menu ul li a{  
  color:white;
  text-decoration:none;
  font-size:20px;
  line-height:3em;
  letter-spacing:1px;
  
 
}
.menu ul li a:hover{
  border-bottom:1px solid #999;
}
li{
  list-style:none;
}
